@charset "utf-8";
/* CSS Document */
@import url("http://fonts.googleapis.com/css?family=Lato:400,300,700,900");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

/* CSS Resets */
html,body { background: #e4e6e5 }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; } /* remove all margins and paddings. do not use * because it puts load on browser */
table { border-collapse: collapse; border-spacing: 0; } /* remove default cell spacing */
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; } /* reset all headings to normal */
input, textarea, select, button { font-family: 'Open Sans', sans-serif; font-size: inherit; font-weight: inherit; } /* because form elements do not inherit from body, they take from operating system */
img { border: 0; margin: 0; padding: 0} /* remove image border */
article, section, aside, hgroup, nav, header, footer, figure, figcaption {display: block;} /* for non html5 browsers */
body {font-family: 'Lato', sans-serif;}
header, main {background: #url("../images/strip.jpg") 0 bottom repeat-x;}
.slider ol {margin: 0; width: auto; right: 20px; left: auto;}
.slideCaption {position: absolute; top: 20px; left: -500px; font-size: 30px; color: #fff; z-index: 9999;}
a, a:hover, button {text-decoration: none !important; outline: none !important;}
.menu {margin: 0; padding-left: 15px;}
.menu > li {display: inline; position: relative;}
.menu > li > a {color: #fff; font-size: 15px; padding: 10px 15px; display: inline-block; text-transform: uppercase;}   
.menu > li > a.active, .menu > li > a:hover {background: #000;}
.menu > li:hover ul {display: block;}
.menu > li ul {position: absolute; left: 0; top: 40; background: #fff; z-index: 999; min-width: 215px; box-sizing: border-box; padding: 20px 15px; display:none;}
.menu > li ul li {margin-bottom: 15px;}
.menu > li ul li:last-child {margin: 0;}
.menu > li ul li a {display: inline-block; font-size: 14px; color: #3b3a3a; text-transform: uppercase;}
.menu > li ul li a.active, .menu > li ul li a:hover {color: #24a5a0;}

.social {position: fixed; left: 0; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.social li a {width: 48px; height: 48px; display: block; background-image: url("../images/social-media-icon.jpg"); background-repeat: no-repeat; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;}
.social li#fb a {background-color: #3b5a9a; background-position: center 0;}
.social li#gp a {background-color: #e04a39; background-position: center -48px;}
.social li#bing a {background-color: #f06522; background-position: center -96px;}
.social li#ins a {background-color: #4c7a9e; background-position: center -144px;}
.social li#twt a {background-color: #3598db; background-position: center bottom;}
.social li a:hover {width: 70px;}

header {position: relative;}
p {margin: 0 0 20px 0;}
p.required {font-size: 13px; font-style: italic; margin-bottom: 10px;}
p.deadline {font-weight: bold;}
header .icon {position: absolute; right: 5px; top: 75px;}
.bdr {border-top: 14px solid #24a5a0;  overflow:hidden;background: none !important;}
p.disabled{ background: #fff; padding: 100px 40px; min-height:550px; margin-bottom: 0; text-align: center;}
.wrapper {background: #fff; padding: 40px 25px; font-size: 16px; color: #363636;}
.wrapper .top-area {padding: 0 15px;}
.wrapper h2 {font-size: 28px; color: #474747; text-transform: uppercase; padding-bottom: 20px; border-bottom: 1px solid #eaecf1; margin: 8px 0 20px;}
.wrapper form {padding: 10px 15px 50px;}
.form-group {margin-bottom: 25px !important;}
.form-group div {vertical-align: top;}
.error {position: absolute; color: red; font-size: 14px; left: 0; top: 45px; line-height:16px;}
.form-group span, .form-2 span {font-size: 12px; font-style: italic; color: #8591a8; font-weight: 600; font-family: 'Open Sans', sans-serif;}
.wrapper form input[type='text'], .wrapper form select, .wrapper form select:focus {box-shadow: 0 1px 1px #d7e4f2 !important; border: 1px solid #b4c8dd !important; font-size: 14px; font-weight: normal; color: #363636; height: 42px !important;}
.wrapper form div {position: relative;}
.wrapper form input.error, .wrapper form select.error {position: relative !important; top: auto!important; left: auto!important;}
::-webkit-input-placeholder {
    color: #8fa5bd !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: #8fa5bd !important; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #8fa5bd !important;  
}

:-ms-input-placeholder {  
    color: #8fa5bd !important;
}
.form-group .btn, .form-group .btn:hover, .form-group .btn:focus {background: #24a5a0; color: #fff; border: none; padding: 20px 50px; font-size: 14px; text-transform: uppercase; font-weight: 600; box-shadow: 1px 0 3px #999; margin-top: 20px; outline: none !important;}
.wrapper form .name {width: 60%;}
.wrapper form .address {width: 60%;}
.wrapper form .district {width: 23%; display: inline-block;}
.wrapper form .country, .wrapper form .state {width: 23%; display: inline-block; margin-right: 15px; vertical-align: top;background-image: url("../images/down-arrow.png"); background-repeat:no-repeat; background-position: 95% center; background-color:#fff}
.wrapper form .country select, .wrapper form .state select{appearance: none; -webkit-appearance: none; -moz-appearance: none; background:none }
select::-ms-expand {
    display: none;
}
.wrapper form .city {width: 23%; margin-right: 15px; display: inline-block;}
.wrapper form .code {width: 16%; display: inline-block;}
.wrapper form .number {width: 20%;}
.wrapper form .form-2 {margin-top: 40px; padding: 40px 0; border-top: 1px solid #eaecf1;}
.marginN {margin: 0px !important;}
.wrapper form .pName {width: 30%; display: inline-block; margin-right: 15px;}
.wrapper form .mNumber {width: 17%; display: inline-block;}
.wrapper form .cName {width: 30%; display: inline-block; margin-right: 15px;}
.wrapper form .cEmail {width: 30%; display: inline-block; margin-right: 15px;}
.wrap .error {top: 60px !important;}
.links li {display: inline-block; margin-right: 4px;}
.links li:last-child {margin: 0;}
.links li a {display: inline-block; vertical-align: middle;}
.links {padding: 0px;}
footer {color: #fff; font-size: 12px; padding: 7px 0; background: #24a5a0;}

.wrapper form .iniCname { width: 10%; }
.wrapper form .cCode { width: 15%; }
.wrapper form .ceCode { margin-left: 15px; width: 25%; }

 table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    
}
th{
   height: 20px;
   text-align: left;
   background-color: rgb(232, 101, 73);
   color: white;
   padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
   
}
td {
    border: 1px solid black;
    height: 20px;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
    max-width: 200px !important;
    word-wrap: break-word;
    
    
}   
table, td, th {
    border: 1px solid rgb(234, 236, 241);
}
   
.exportBtn{
    float:right;
    background-color:grey; 
    padding-left:10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color:#ffffff;
}

.pagebutton {
  padding: 5px 15px;
  text-decoration: none;
  background: grey;
  color: #F3F3F3;
  font-size: 13PX;
  border-radius: 2PX;
  margin: 0 4PX;
  display: block;
  float: left;
}
.pagein {
  float: right;
  margin: 0;
  padding: 0;
}
.page li {
  list-style: none;
  display: inline-block;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
  .not-db{
    background: #fff none repeat scroll 0 0;
    margin-bottom: 0;
    min-height: 550px;
    padding: 100px 40px;
    text-align: center;
    }

	




