.halfmoon {
	MARGIN-BOTTOM: -1.2em; WIDTH: 723px
}
.halfmoon UL {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.halfmoon LI {
	DISPLAY: inline; MARGIN: 0px
}
.halfmoon LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; COLOR: black; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.halfmoon LI A:visited {
	COLOR: black
}
.halfmoon LI A:hover {
	
}
.halfmoon LI.selected A {
	
}
.dropmenudiv_e {
	BORDER-RIGHT: #a6997f 1px solid; BORDER-TOP: #a6997f 0px solid; Z-INDEX: 100; FILTER: alpha(opacity=95); VISIBILITY: hidden; FONT: 11px/12px Tahoma; BORDER-LEFT: #a6997f 1px solid; WIDTH: 150px; TEXT-INDENT: 50px; BORDER-BOTTOM: #a6997f 0px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #fffcf7; TEXT-ALIGN: left; opacity: 0.95
}
.dropmenudiv_e A {
	BORDER-RIGHT: #a6997f 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a6997f 0px solid; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #a6997f 0px solid; WIDTH: auto; COLOR: black; TEXT-INDENT: 5px; PADDING-TOP: 2px; BORDER-BOTTOM: #a6997f 1px solid; TEXT-DECORATION: none
}
* HTML .dropmenudiv_e A {
	WIDTH: 100%
}
.dropmenudiv_e A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #c90107
}
