/* Responses Report Style Sheet */

body {font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.3; color: #4f4f4f; margin: 0 auto; padding: 0; max-width: 700px; } 
@page {margin: 15mm 15mm 0 15mm;}
h1, h2, h3, h4 {line-height: 1.2;}
h5 {color: #e86549; font-size: 15px; margin: 0px 0 10px 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
ul {list-style-type: none;}
.page_break {page-break-before: always;}
p {margin: 0 0 20px 0;}
* {box-sizing: border-box;}

/* =============== Report Cover ================ */
.cover {background: #e0e0e0; width: 100%;}
.cover .logo {padding: 30px 0 30px 110px;}
.cover h1 {font-size: 24px; color: #fff; background: #9397a0; text-align: center; padding: 25px 0;}

/* school details */
.school-detail {width: 90%; margin: 30px auto 10px;}
.school-detail p {font-size: 20px; margin-bottom: 5px;}
.school-detail p span {display: inline-block; vertical-align: top;}
.school-detail p span:first-child {color: #e86549; width: 200px;}
.school-detail p span:last-child {max-width: 62%;}

/* footer */
.cover .address-wrap {width: 100%; height: 476px; position: relative; background-color: #e86549;}
.cover .address {width: 100%; text-align: center; color: #fff; position: absolute; top: 250px; left: 0;}
.cover .address p {margin: 0; padding: 0;}
.cover .address p.gsp-head {font-size: 20px; margin-bottom: 10px;}
.cover .address p.cse-head {font-size: 20px; margin-bottom: 5px;}

/* ============= Report Inside ============== */
.container {width: 100%; padding: 30px 0 30px;}

/* Section Headings */
.heading {text-transform: uppercase; color: #fff; background: #9397a0; padding: 8px 20px; margin: 0px; font-size: 18px; position: relative;}
.heading.section {padding-left: 100px; margin: 20px 0 10px;}
.heading.section > img {margin-left: -10px;}
.heading.air {background: #d5bb2b;}
.heading.energy {background: #e29e15;}
.heading.food {background: #f153a8;}
.heading.land {background: #a5b642;}
.heading.water {background: #0072bc;}
.heading.waste {background: #7265ad;}
.heading.section > img {position: absolute; left: 0; top: -25px;}

/* Tasks Wrapper */
.task {font-size: 18px; color: #e86549; margin-bottom: 15px;}
.task-area {margin: 15px 0 20px; padding: 0; font-size: 14px; line-height: 16px;}
.task-area p { margin: 0px; padding: 0px; }
.task-area p span:first-child {display: inline-block; color: #e86549; margin-right: 5px; width: 30%;}
.task-area p:nth-child(3) span {max-width: 69%;}
.task-area p:last-child span:last-child {width: 80%;}

/* Audit Team Table */
table.audit-team {border: 1px solid #cccccc; border-collapse: collapse; margin: 0 0 20px 0;}
table.audit-team th, table.audit-team td {border: 1px solid #cccccc; padding: 4px 10px; font-size: 13px;}
table.audit-team th {font-weight: bold; background: #eeeeee; }
table.audit-team td {}

/* Lists */
.list {padding: 0;}
.list li {margin-bottom: 20px;}
.list li p {margin:0 0 0 80px; font-size: 14px; padding: 0px;}
.list li p.orange {color: #e86549; padding: 0; margin: 0px 0 5px 0; width: 100%;}
.list li p span {display: inline-block; width: 600px; margin: 0;}
.list li p span:first-child {display: inline-block; width: 50px; font-size: 13px; text-align: center; padding: 5px 10px; background: #e86549; color: #fff; margin: 0 10px 0 0;}
.list li ol {margin-left: 25px; font-size: 14px;}

/* Table Design */
.table {font-size: 13px; margin: 10px 0 15px 0; width: 100% }
.table.tick img {height: 10px; width: 10px;}
.table th {color: #fff; background: #e86549; padding: 10px 10px; text-align: center; border-left: 1px solid #fff; font-weight: normal;}
.table th:first-child, .table td:first-child {text-align: left; border-left: none;}
.table td {padding: 8px 20px; background: #dee1e7; border: 1px solid #fff; border-right: none; text-align: center; border-bottom: none;}
.table tr.total td {background: #9397a0; text-transform: uppercase; color: #fff;}
.table tr td:first-child {text-align: left;}
.table.question1ge th {padding: 8px 3px !important; width: 8%;}

/* Supporting Files */
.support_files {font-size: 14px; padding: 5px 10px; margin: 0 0 15px 0; background: rgb(242, 222, 222); border: 1px solid rgb(235, 204, 209); color: rgb(169, 68, 66); }

.support_files_head {padding: 10px; background: rgb(223, 240, 216); border: 1px solid rgb(214, 233, 198); margin: 0 0 20px 0;}
.support_files_head h5 {font-size: 15px; font-weight: bold; margin: 0 0 10px 0; color: rgb(60, 118, 61);}
.support_files_head ol {font-size: 13px; margin:0 0 0px 15px; padding: 0px;}
.support_files_head ol li {margin: 0 0 5px 0; padding: 0;}

/* Page Number */
.page-number {text-align: right; padding-right: 75px; background: url(images/row-dot.png) left center repeat-x; margin-bottom: 30px;}
.page-number p {display: inline-block; vertical-align: middle; background: #fff; padding: 0 5px; color: #e86549;}
.page-number p span {width: 36px; height: 36px; background: #e86549; color: #fff; line-height: 36px; margin-left: 5px; text-align: center; border-radius: 50%; font-size: 15px; display: inline-block;}

/* Checklist */
ol.checklist {margin: 0 0 0 15px; padding: 0; font-size: 14px;}
ol.checklist li {margin: 0 0 5px; padding: 0; }

