/* GSP Performance Report CSS */

* {box-sizing: border-box;}
body {font-family: arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; color: #5b5d64; margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; line-height: 1.2; margin: 0; padding: 0;}
h2 {font-size: 19px; margin-bottom: 20px; color: #e86549; border-bottom: 2px dashed #e1e1e1;}
h3 {font-size: 18px; color: #d5bb2b; margin-bottom: 10px;}
h4 {font-size: 15px; color: #d5bb2b; margin-bottom: 10px;}
p {margin: 0 0 15px 0;}
a {color: #5b5d64;}
a:focus,a:hover {text-decoration: none;}
ol, ul, li {margin: 0; padding: 0; list-style: none;}
th {font-size: 13px;}
td {font-size: 12px;}
figure {margin: 0; padding: 0}
table {margin:0; padding: 0; border-spacing: 0; border-collapse: collapse;}
@page {margin: 15mm 0 0 0;}

/* ============ Report Container =============== */
.report-container {width: 700px; margin: 0 auto;

/* ============ Report Cover =============== */
.cover {width: 700px; position: relative}
.cover figure img {width: 700px;}
.report-title {position: absolute; left: 50px; top: 450px; color: #4a5358}
.report-title h4 {font-size: 23px; margin-bottom: 2px;}
.report-title h3 {font-size: 31px; margin-bottom: 17px;}
.report-title p {margin: 0; font-size: 20px;}

/* ============== All Sections Common =============== */
.introduction, .air, .energy, .food, .land, .water, .waste {margin: 25px;}

/* header */
h2 {page-break-before: always;}
h2 figure {display: inline-block; margin-right: 5px; width: 35px; vertical-align: middle}
h2 label {display: inline-block; width: 68%; line-height:45px;}
h2 span {display: inline-block; width: 20%; font-size: 11px; color: #898585; background: #efefef; padding: 5px; margin-top: 10px; float: right}


/* footer */
.footer {background: #efefef; color: #898585; height: 34px; line-height: 34px; margin: 15px 0;}
.footer p {display: inline-block; vertical-align: middle; width: 94%; font-size: 11px; text-indent: 15px;}
.footer .p-number {display: inline-block; font-size: 25px; }

/* performance */
.performance-category {margin: 30px 0 20px 0}
.performance-category ul {overflow: hidden}
.performance-category li {margin-bottom: 24px; overflow: hidden}
.performance-category figure {display: inline-block; width: 21%; margin-right: 20px;}
.performance-category .description {display: inline-block; vertical-align: top; width: 75%; margin-bottom: 10px;}

/* ============ Introduction Page =============== */
.introduction h2 label {width: 67.7%;}
.introduction h2 span {margin-top: 0;}
.introduction p {font-size: 13px; margin: 0 0 15px 0; text-align: justify}
.intro-heading {padding-bottom: 10px;}

.introduction-graph {margin: 25px 0 25px 0; overflow: hidden}
.introduction-graph figcaption {margin: 15px 0 0 0;}

.intro-table {border: 1px solid #c0bfbf; border-collapse: collapse; margin-bottom: 10px; margin-top: 10px;}
.intro-table th {background: #e86549; color: #fff; font-weight: 400; padding:3px 5px; border-left: 1px solid #fff;}
.intro-table th:first-child {border: none; border-bottom: 1px solid #fff}
.intro-table td {text-align: center; padding:2px 4px; border: 1px solid #c0bfbf;}

/* ========== Section Introduction ========== */
p.intro-text {font-size: 14px;}
.remember {background: #f6f0d0; padding: 15px 12px 20px 12px; margin: 20px 0;}
.remember ul {padding-left: 14px;}
.remember li {background: url("../images/remember-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Air ============== */
.air h2 label {color: #d5bb2b;}
.air p, .energy p {font-size: 12px;}

/* ============== Energy ============== */
.energy h2 label, .energy h3, .energy h4 {color: #e29e15}
.energy .remember {background: #f9eacc}
.energy .remember li {background: url("../images/energy-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Food ============== */
.food h2 label, .food h3, .food h4 {color: #ef3997}
.food .remember {background: #fbd4e8}
.food .remember li {background: url("../images/food-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Land ============== */
.land h2 label, .land h3, .land h4 {color: #a5b642}
.land .remember {background: #ebefd5}
.land .remember li {background: url("../images/land-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Water ============== */
.water h2 label, .water h3, .water h4 {color: #0071bc}
.water .remember {background: #c7e0f0}
.water .remember li {background: url("../images/water-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Waste ============== */
.waste h2 label, .waste h3, .waste h4 {color: #7265ad}
.waste .remember {background: #d3cafa}
.waste .remember li {background: url("../images/waste-list.png") 0 2px no-repeat; padding-left:15px;}
.page-break-before-new{page-break-before: always;}
.performance-blue-bg{background: #0071bc !important}
.performance-orange-bg{background: #e29e15 !important}
@media print{
    * {box-sizing: border-box;}
body {font-family: arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; color: #5b5d64; margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; line-height: 1.2; margin: 0; padding: 0;}
h2 {font-size: 19px; margin-bottom: 20px; color: #e86549; border-bottom: 2px dashed #e1e1e1;}
h3 {font-size: 18px; color: #d5bb2b; margin-bottom: 10px;}
h4 {font-size: 15px; color: #d5bb2b; margin-bottom: 10px;}
p {margin: 0 0 15px 0;}
a {color: #5b5d64;}
a:focus,a:hover {text-decoration: none;}
ol, ul, li {margin: 0; padding: 0; list-style: none;}
th {font-size: 13px;}
td {font-size: 12px;}
figure {margin: 0; padding: 0}
table {margin:0; padding: 0; border-spacing: 0; border-collapse: collapse;}
@page {margin: 15mm 0 0 0;}

/* ============ Report Container =============== */
.report-container {width: 700px; margin: 0 auto; background:  #f4f4f4;}

/* ============ Report Cover =============== */
.cover {width: 700px; position: relative}
.cover figure img {width: 700px;}
.report-title {position: absolute; left: 50px; top: 450px; color: #4a5358}
.report-title h4 {font-size: 23px; margin-bottom: 2px;}
.report-title h3 {font-size: 31px; margin-bottom: 17px;}
.report-title p {margin: 0; font-size: 20px;}

/* ============== All Sections Common =============== */
.introduction, .air, .energy, .food, .land, .water, .waste {margin: 25px;}

/* header */
h2 {page-break-before: always;}
h2 figure {display: inline-block; margin-right: 5px; width: 55px; vertical-align: middle}
h2 label {display: inline-block; width: 68%; line-height:45px;}
h2 span {display: inline-block; width: 20%; font-size: 11px; color: #898585; background: #efefef; padding: 5px; margin-top: 10px; float: right}


/* footer */
.footer {background: #efefef; color: #898585; height: 34px; line-height: 34px; margin: 15px 0;}
.footer p {display: inline-block; vertical-align: middle; width: 94%; font-size: 11px; text-indent: 15px;}
.footer .p-number {display: inline-block; font-size: 25px; }

/* performance */
.performance-category {margin: 30px 0 20px 0}
.performance-category ul {overflow: hidden}
.performance-category li {margin-bottom: 24px; overflow: hidden}
.performance-category figure {display: inline-block; width: 21%; margin-right: 20px;}
.performance-category .description {display: inline-block; vertical-align: top; width: 75%; margin-bottom: 10px;}

/* ============ Introduction Page =============== */
.introduction h2 label {width: 67.7%;}
.introduction h2 span {margin-top: 0;}
.introduction p {font-size: 13px; margin: 0 0 15px 0; text-align: justify}
.intro-heading {padding-bottom: 10px;}

.introduction-graph {margin: 25px 0 25px 0; overflow: hidden}
.introduction-graph figcaption {margin: 15px 0 0 0;}

.intro-table {border: 1px solid #c0bfbf; border-collapse: collapse; margin-bottom: 10px; margin-top: 10px;}
.intro-table th {background: #e86549; color: #fff; font-weight: 400; padding:3px 5px; border-left: 1px solid #fff;}
.intro-table th:first-child {border: none; border-bottom: 1px solid #fff}
.intro-table td {text-align: center; padding:2px 4px; border: 1px solid #c0bfbf;}

/* ========== Section Introduction ========== */
p.intro-text {font-size: 14px;}
.remember {background: #f6f0d0; padding: 15px 12px 20px 12px; margin: 20px 0;}
.remember ul {padding-left: 14px;}
.remember li {background: url("../images/remember-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Air ============== */
.air h2 label {color: #d5bb2b;}
.air p, .energy p {font-size: 12px;}

/* ============== Energy ============== */
.energy h2 label, .energy h3, .energy h4 {color: #e29e15}
.energy .remember {background: #f9eacc}
.energy .remember li {background: url("../images/energy-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Food ============== */
.food h2 label, .food h3, .food h4 {color: #ef3997}
.food .remember {background: #fbd4e8}
.food .remember li {background: url("../images/food-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Land ============== */
.land h2 label, .land h3, .land h4 {color: #a5b642}
.land .remember {background: #ebefd5}
.land .remember li {background: url("../images/land-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Water ============== */
.water h2 label, .water h3, .water h4 {color: #0071bc}
.water .remember {background: #c7e0f0}
.water .remember li {background: url("../images/water-list.png") 0 2px no-repeat; padding-left:15px;}

/* ============== Waste ============== */
.waste h2 label, .waste h3, .waste h4 {color: #7265ad}
.waste .remember {background: #d3cafa}
.waste .remember li {background: url("../images/waste-list.png") 0 2px no-repeat; padding-left:15px;}
.page-break-before-new{page-break-before: always;}
.performance-blue-bg{background: #0071bc !important}
.performance-orange-bg{background: #e29e15 !important}
}
