@media (max-width: 1199px) {
.nav_main li a {  padding:11px 20px; font-size:14px; }

 }
 
 @media (max-width: 992px) {
 .nav_main li a {  padding: 11px 9px; font-size:13px; }
header .top-bnr1 { width:40%; margin-top:20px;}
header .logo2  { width:40%;  margin-top:15px;}
header .top-bnr1 { width:55%;}



    
}
 @media (max-width: 980px) {
header .logo { margin:15px 0; }
header .top-bnr {top: 90px; max-width: 50%;}

 }
@media (max-width: 768px) {
.nav_main li a {  padding:11px 10px; font-size:12px; }
.content-form .progress { width:100%;}
.home_container { width:70%;}
.log-p {   width:70%; }
.home_container { margin:40px auto 0;}
.home_container h1 { font-size:18px;}

	 }
	 
	
@media (max-width: 640px) {
.form-hdr { text-align:center; }
.hdr-bdr { text-align:center;}
.nav_main li a {  padding:11px 20px; font-size:14px;  text-align:left; }
header .top-bnr1 { width:60%;  float:none; text-align:center; margin:5px 0 10px ;}
header .logo2  { width:60%; margin:10px auto; float:none; clear:both; text-align:center }

header .logo {margin:10px auto 0; text-align:center; display: block; max-width:60%;  }
header .top-bnr {left: auto; right: auto; float: none; margin: 0 auto; display: block; max-width:55%;  position: relative; top: 30px;}


.content-form .form-group li { width:45%; margin:0 0 10px 0; }
.content-form .form-group li + li { margin:0 0 10px 20px;}
.content-form .form-group li.input { width:45%;}
.content-form .form-group .margin0 {margin:0;} 
.content-form label { font-size:15px;}
.home_container { width:80%; padding:15px;}
.home_container h1 { padding:0 0 15px 0;}
.log-p {   width:80%; line-height:20px; }

	 }
@media (max-width: 640px) { 

header .top-bnr { max-width:55%;   top: 25px;}
}

@media (max-width: 480px) { 

.content-form h1 { margin: 0 0 14px; padding: 10px 0 11px;}
.content-form p { font-size: 14px;  line-height: 24px;}
.content-form .log-nav { text-align:center;}
.content-form .log-nav ul { padding:0; float:inherit; }
.content-form .log-nav ul li { float:inherit; display:inline-block; }
.content-form label { font-size:12px; line-height:normal;} 
.content-form .form-group li.input { width:100%;}
.content-form .form-group li { width:100%; margin:0 0 10px; }
.content-form .form-group li + li {  margin:0 0 10px;}
.content-form label .cube { margin:0 7px 0 0;}
header .logo2  { width:60%; }

header .top-bnr1 { width: 80%;}
.home_container { width:85%;}
.log-p {   width:85%; font-size:12px;}
header .top-bnr { max-width:60%;   top: 26px;}
}

@media (max-width: 360px) { 


.home_container { width:90%;}
.log-p {   width:90%; font-size:12px;}
header .top-bnr {    top: 20px;}
}