@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,700italic,300);
/* =======================================================================
Ulaalaa  -One Page Respossive HTML5 Template
======================================================================= */
.clear { clear:both;}
a { text-decoration:none;}
body{  background-color:#e4e6e5;  font-family: 'Lato', sans-serif; font-size:14px; line-height:1.2;}  
.container{ position:relative;}
header{ position:relative;}
.form-hdr { background:#e4e6e5;}
.hdr-bdr { border-bottom:solid 14px #e86549;} 
header .logo { margin:15px 0;}
header .logo2 { margin:32px 0 15px 0; float:left; }
header .container-fluid { padding:0;}
header .navbar-collapse { padding:0;}
header .top-bnr { position:absolute; top:76px; right:0; transition: all 0.3s ease-in-out;}
header .top-bnr img { width:100%;}
header .top-bnr1 { float:right; margin:35px 0 0 0; transition: all 0.3s ease-in-out;}
header .top-bnr1 img { width:100%;}
header .navbar-toggle { background-color:#ddd;}

header .navbar-default {   margin-bottom:0; border-radius:0; background:#e86549; border:0; padding:0; }
header .navbar { min-height:42px;}
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover { background:#e45132; color:#fff; }
.nav_main {background:#e86549 !important; text-align:center;  }
.nav_main li a {color:#fff !important; font-size:15px; text-transform:uppercase;  padding:11px 13px; font-weight:400;}
.nav_main li a:hover {  background:#e45132; color:#fff;}
.navbar-brand.responsive-logo{ height:auto;}

/********************************Close Header*****************/

.home_container { margin:70px auto 0px; width:60%; background:#fff; padding:30px; box-sizing:border-box; box-shadow:0 0 6px #ccc ; text-align:center; transition: all 0.3s ease-in-out;}
.home_container h1 { color:#474747;  font-size:20px;  text-transform:uppercase; line-height:normal; margin:0 0 15px 0; border-bottom:solid 1px #eaecf1; padding:0 0 20px 0; text-align:left;}
.home_container p { color:#363636; line-height:20px; margin:0 0 20px 0;  text-align:left; }
.home_container .org-btn { background:#e86549; color:#fff; min-width:138px;  box-sizing:border-box; padding:16px 15px; text-transform:uppercase; border-radius:2px; margin:10px 0 0 0;  box-shadow:0 0 6px #ccc }
.home_container p.line-height26 { line-height:1.4;}
.home_container .form-control {  width:100%; color:#8fa5bd; font-size:14px; height:42px;  border:solid 1px #cad6e2 !important; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)!important;}

.home_container .form-group { width:90%; text-align:right; }
.home_container .form-group span{ color:#8591a8; font-size:12px; font-style:italic; }
.home_container .form-group span a{ color:#8591a8; }
.log-p { color:#000000;  font-family: 'Open Sans', sans-serif; font-style:italic; font-weight:400; width:60%; margin:10px auto 0;  width:60%; line-height:1.4; }
.log-p a {  color:#e86549;  }
/***************END LOGIN *******************/

.content-form { background:#fff; padding:0px 15px 45px; box-shadow:0 0 6px #ccc; box-sizing:border-box;}
.content-form .log-nav { border-bottom: solid 1px #eaecf1; height:32px; }
.content-form .log-nav ul { float:right; }
.content-form .log-nav ul li { list-style:none; float:left; color:#e86549; line-height:32px; }
.content-form .log-nav ul li a { color:#e86549; font-weight:400; padding:0 10px; line-height:32px; }
.content-form .progress { background-color: #e5e5e5; border-radius: 0px;  height: 36px;  margin: 10px auto 30px;
 width: 70%; border:solid 1px #cccccc; }
.content-form .progress-bar { background-color: #e86549;  font-size: 16px;  line-height: 36px;  font-weight:400;}

.content-form h1 { color:#474747;  font-size:28px;  text-transform:uppercase; line-height:normal; margin:0 0 25px 0; border-bottom:solid 1px #eaecf1; padding:10px 0 15px 0; text-align:left;}
.content-form p { color:#363636;  margin:0 0 20px 0;  text-align:left; font-size:16px; }
.content-form label { margin-bottom:12px; color:#e86549; font-size:16px; font-family: 'Open Sans', sans-serif; font-weight:600; line-height:1.3;}
.content-form label .cube { width:33px; height:27px; background:#e86549; font-family: 'Open Sans', sans-serif; font-weight:600; line-height:27px; text-align:center; margin:0 20px 0 0; color:#fff; float:left; }
.content-form label small { color:#000000; font-size:12px; font-weight:400;  font-style:italic;}
.content-form .form-group { margin-bottom:20px;}
.content-form .form-group input { height:42px;  border:solid 1px #cad6e2 !important; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075)!important;}
.content-form .form-group select { padding-right:30px; border:solid 1px #cad6e2;  appearance: none; -ms-appearance: none; -o-appearance: none; -moz-appearance: none; -webkit-appearance: none; border-radius:2px; background:#ffffff url(../images/drop-arrow.png) 98% center no-repeat; height:42px;}

.content-form .form-group ul { float:inherit; padding:0; }
.content-form .form-group li { list-style:none; width:185px; display:inline-block;}
.content-form .form-group li + li { margin:0 0 0 20px;}
.content-form .form-group li label { color:#6e8195;  font-size:14px !important; font-weight:600; }
.content-form .form-group li.input { width:128px;}
.content-form .form-group textarea { resize:none; height:70px;}
.content-form  .org-btn { background:#e86549; color:#fff; min-width:138px;  box-sizing:border-box; padding:16px 15px; text-transform:uppercase; border-radius:2px; margin:10px 5px;  box-shadow:0 0 6px #ccc }
.content-form .badge { background-color:#9b9796; font-size:20px; padding:4px 10px; margin-left:5px; border-radius:50%; font-weight:400;}
.content-form center { padding:40px 0;}

input[type=checkbox].css-checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

input[type=checkbox].css-checkbox + label.css-label {padding-left:29px;height:23px; display:inline-block;	line-height:23px;	background-repeat:no-repeat;	background-position: 0 0;font-size:23px;	vertical-align:middle;cursor:pointer;}

input[type=checkbox].css-checkbox:checked + label.css-label {background-position: 0 -23px;}
label.css-label {background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_56f60222c68e695687917678d98b2b1a.png);
	-webkit-touch-callout: none; -webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none;	user-select: none;}
.brand-logo ul { padding:0; margin:0; }
.brand-logo li {  display:inline-block; list-style:none; margin:0 0 0 10px;}
.brand-logo li:first-child { margin:0; }

footer { background:#e86549; }
footer p { color:#fff; font-size:12px; text-align:center; line-height:42px;  margin:0;}
footer p a{ color:#fff; } 
footer.mrg30 { margin:30px 0 0 0;}
.schools-statics {padding: 15px; border-radius: 6px; font-size: 16px; width: 47.5%; min-height: 200px; margin: 5px 10px; display: inline-block; border: 1px solid #ccc; background: rgba(232, 101, 73, 0.1); position: relative;}
.schools-statics .title {display: block; margin: 20px 80px; text-align: center;}
.schools-statics .statics-circle {width: 80px; height: 80px; background: rgb(232, 101, 73); color: #fff; text-align:  center; border-radius: 50%; padding: 12px; transition: all 0.5s ease-in-out; border: 5px solid #fff; margin: 0 auto;}
.schools-statics .statics-circle:hover{border: 5px solid rgb(232, 101, 73);}
.schools-statics .statics-circle span {font-weight: bold; font-size: 18px; display: block; margin:0 0 5px 0;}
.schools-statics .statics-circle a {color:#000; font-size: 12px;}

.formanswertext { padding-left: 54px; }