
@font-face {font-family: "weston_freeregular";
  src: url("../fonts/WestonFree.eot"); /* IE9*/
  src: url("../fonts/WestonFree.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/WestonFree.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/WestonFree.woff") format("woff"), /* chrome、firefox */
  url("../fonts/WestonFree.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/WestonFree.svg#WestonFree") format("svg"); /* iOS 4.1- */
}


a:focus, a:hover{text-decoration:none}
* {box-sizing: border-box;}
body, figure, h1, h2, h3, h4, figcaption, ul, li, p {margin: 0; padding: 0; font-family:Arial, sans-serif; color:#5b5d64}
body {
  -webkit-print-color-adjust: exact;
}
@page {

}
ol, ul{list-style:none}
body, h5, h6{ font-family: sans-serif;font-weight: normal; font-size:12px;}
h1, h2, h3 ,h4{font-weight: normal; line-height:1.2;}
h2{font-size:19px; margin-bottom:30px; color:#e86549; border-bottom:2px dashed #e1e1e1; overflow: hidden; padding-bottom: 5px;}
h3{font-size:18px; color:#d5bb2b; margin-bottom:10px;}
h4{font-size:15px; color:#d5bb2b; margin-bottom:15px;}
p{line-height:1.4;}
th{font-size:16px;}
td{font-size:13px;}
h2 label{display:inline-block; width: 58%; padding-top: 15px;}
h2 span{font-size:11px; color:#898585; background:#efefef; padding:5px; float:right}
h2 label + span{margin-top:31px;}
.banner{margin-bottom:20px; position:relative}
.report-container{width:794px; margin: 0 auto}
.report-title{position:absolute; left:50px; top:525px; color:#4a5358}
.report-title h4{font-family: weston_freeregular; font-size:23px; margin-bottom:2px;}
.report-title h3{font-family: weston_freeregular; font-size:31px; margin-bottom:17px;}
.report-title p{margin:0; font-size:20px;}
.introduction, .air, .energy, .food, .land, .water, .waste{width:680px; margin:auto}
.introduction p{font-size:13px;}
.intro-heading{padding-bottom:10px;}
.intro-heading span{margin-top: 14px;}
.pull-left{float:left !important}
.pull-right{float:right !important}
.introduction-graph{margin:25px 0 25px 0; overflow:hidden}
.introduction-graph figcaption{margin:15px 0 0 0;}
.page-break-after{page-break-after:always}
.footer{background:#efefef; color:#898585; height: 36px; margin:15px 0; overflow:hidden; padding:0 15px 0 35px}
.footer p{display:inline-block; width:95%; font-size:11px; padding-top: 8px;}
.footer .p-number{font-size:25px; display:inline-block; padding: 2px 0}
.intro-table{border:1px solid #c0bfbf;}
.intro-table th{background:#e86549; color:#fff; font-weight:400; padding:10px; border-left:1px solid #fff;}
.intro-table th:first-child{border-left:none}
.intro-table td{text-align:center; padding:10px; border-left:1px solid #c0bfbf; border-top:1px solid #c0bfbf;}
.intro-table td:first-child{border-left:none}
h2 figure{display:inline-block; vertical-align:middle; margin-right:5px; width: 55px;}
.air h2 label{color:#d5bb2b;}
p.intro-text{font-size:14px !important;}
.air p, .energy p{font-size:12px;}
.remember{background:#f6f0d0; padding:10px 12px; margin:20px 0;}
.remember ul{padding-left:14px;}
.remember li{list-style-image:url(../images/remember-list.png); line-height:22px;}
.performance-category{margin:30px 0 20px 0}
.performance-category ul{overflow:hidden}
.performance-category li{margin-bottom:24px; overflow:hidden}
.performance-category figure{display:inline-block; width:20%; margin-right:20px;}
.performance-category .description{display:inline-block; width:75%;}

.energy h2 label, .energy h3, .energy h4{color:#e29e15}
.energy .remember{background:#f9eacc}
.energy .remember li{list-style-image:url(../images/energy-list.png);}

.food h2 label, .food h3, .food h4{color:#ef3997}
.food .remember{background:#fbd4e8}
.food .remember li{list-style-image:url(../images/food-list.png)}

.land h2 label, .land h3, .land h4{color:#a5b642}
.land .remember{background:#ebefd5}
.land .remember li{list-style-image:url(../images/land-list.png)}

.water h2 label, .water h3, .water h4{color:#0071bc}
.water .remember{background:#c7e0f0}
.water .remember li{list-style-image:url(../images/land-list.png)}

.waste h2 label, .waste h3, .waste h4{color:#7265ad}
.waste .remember{background:#d3cafa}
.waste .remember li{list-style-image:url(../images/waste-list.png)}
