      .affix {
          top: 0;
          width: 100%;
      }

      .affix + .container-fluid {
          padding-top: 70px;
      }
    .navbar-nav > li > a 
    {
        padding-top:10px !important; 
        padding-bottom:10px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        color: white !important;

    }
    .navbar 
    {
        min-height:40px !important;
        background-color: rgb(232,101,73) !important;
    }
        
    .nav .active a 
    { 
        background:#ce4d31 !important 
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
