BODY {
	FONT-SIZE: 11px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 18px; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #ffffff
}
.htd {
	BACKGROUND-COLOR: #ede2cc
}
.lsshadow {
	BACKGROUND-IMAGE: url(images/left_spacer.gif); BACKGROUND-REPEAT: repeat-y
}
.rsshadow {
	BACKGROUND-IMAGE: url(images/right_spacer.gif); BACKGROUND-REPEAT: repeat-y
}
.toplinksbg {
	BACKGROUND-IMAGE: url(images/but_spacer.gif); BACKGROUND-REPEAT: repeat-x
}
.download {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: tahoma; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.download:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.download1 {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.download1:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.viewall {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.viewall:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.view {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.view:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ececec; TEXT-DECORATION: underline
}
.inp {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-WEIGHT: 400; FONT-SIZE: 11px; BORDER-LEFT: #666666 1px solid; COLOR: #000; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.select {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-WEIGHT: 400; FONT-SIZE: 11px; BORDER-LEFT: #000 1px solid; WIDTH: 150px; COLOR: #333; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: tahoma
}
.inp-sq {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; FONT-WEIGHT: 400; FONT-SIZE: 10px; BORDER-LEFT: #aaa 1px solid; COLOR: #333; BORDER-BOTTOM: #aaa 1px solid; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.footerlinks {
	FONT-WEIGHT: 700; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.footerlinks:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 10px; COLOR: #982020; FONT-FAMILY: Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.footertext {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #5c4f33; FONT-FAMILY: Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.footertext1 {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #5c4f33; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.csi {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #5c4f33; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.csi:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.htd {
	BACKGROUND-COLOR: #ede2cc
}
.hintrotitle {
	FONT-WEIGHT: 700; FONT-SIZE: 16px; COLOR: #000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hintrotitle1 {
	FONT-WEIGHT: 400; FONT-SIZE: 20px; COLOR: #c90107; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hometitle {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homerltitle {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homepptitle {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homemctitle {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #22577c; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homemcsublinks {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 14px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homemcsublinks:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homemcsublinks1 {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #cfcfcf; LINE-HEIGHT: 14px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homemcsublinks1:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #fff; LINE-HEIGHT: 14px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.tv1 {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #fff; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.tv1:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #cfcfcf; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.homemcbor {
	BORDER-RIGHT: #a0a0a0 1px solid
}
.hometvcom {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.hometvcom:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.homenptitle {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #22577c; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hnptopbor {
	BORDER-TOP: #a0a0a0 1px solid
}
.hccno {
	FONT-WEIGHT: 700; FONT-SIZE: 18px; COLOR: #5b503b; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hemail {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #0d3f61; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hemail:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #ce1a1f; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hcall-email {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #5b503b; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.hsitetitle {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.hsitetitle:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.hsitebor {
	BORDER-BOTTOM: #c3c3c3 1px solid
}
.prosearch {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.psbotbor {
	BORDER-BOTTOM: #0099cc 1px solid
}
.prosearchtext {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #b7b7b7; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.psselect {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: 400; FONT-SIZE: 10px; BORDER-LEFT: #000000 1px solid; WIDTH: 126px; COLOR: #666666; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: tahoma; BACKGROUND-COLOR: #fff
}
.bluebarbgline {
	BACKGROUND-IMAGE: url(images/line_spa.gif); BACKGROUND-REPEAT: repeat-x
}
.bbarbgcolor {
	BACKGROUND-COLOR: #195a87
}
.grybgcolor {
	BACKGROUND-COLOR: #cbcbcb
}
.grybgcolor1 {
	BACKGROUND-COLOR: #a0a0a0
}
.featuproject {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.featuredpd {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #e5d1a8; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.newstitle {
	FONT-WEIGHT: 700; FONT-SIZE: 15px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.newsdate {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.nintrotext {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #28c3f7; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.nintrotext:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ccc; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.text {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 18px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.text1 {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.links {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.links:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.top {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.top:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.clickhere {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #195a87; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.clickhere:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.allintro {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 18px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.sidelinks {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #464646; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.sidelinks:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.sidelinksactive {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.sidelinkssub {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #464646; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.sidelinkssub:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.sidelinkssubactive {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.sls1 {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.sls1:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.sls1active {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.int {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.int:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #9a9a9a; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.intactive {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #9a9a9a; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.sl {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #be2c2c; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.sl:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #343434; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.explorethistd {
	PADDING-RIGHT: 5px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #464646; PADDING-TOP: 5px; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.explorethis {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #464646; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.explorethis:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #464646; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.project {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.project:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.imgbor {
	BORDER-RIGHT: #c0c0c0 2px solid; BORDER-TOP: #c0c0c0 2px solid; BORDER-LEFT: #c0c0c0 2px solid; BORDER-BOTTOM: #c0c0c0 2px solid
}
.imgbor1 {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c0c0c0 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #c0c0c0 1px solid
}
.imgborder {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-BOTTOM: #c0c0c0 1px solid
}
.clink {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; MARGIN-RIGHT: 1px; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.hr {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 8px 0px; WIDTH: 100%; COLOR: #c0c0c0; HEIGHT: 1px; BACKGROUND-COLOR: #d8d8d8; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 8px 0px; WIDTH: 100%; COLOR: #c0c0c0; HEIGHT: 1px; BACKGROUND-COLOR: #d8d8d8; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.bor-bottom {
	BORDER-BOTTOM: #c0c0c0 1px solid
}
.bor-top {
	BORDER-TOP: #c0c0c0 1px solid
}
.rightlinkstd {
	PADDING-RIGHT: 4px; BORDER-TOP: #5c839e 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.rightlinks {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.rightlinks:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #0099cc; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.rightsublinks {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.rightsublinks:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #c0c0c0; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.rightsublinksactive {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #c0c0c0; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.rightlinksactive {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #0099cc; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.urhere {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #1d1d1d; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.urhere1 {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #1d1d1d; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.urhere1:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.home {
	FONT-WEIGHT: 700; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.home:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 10px; COLOR: #195a87; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.urhere1active {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
.quickfacts {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #195a87; LINE-HEIGHT: 14px; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.topticker {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #464646; LINE-HEIGHT: 14px; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.status {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #be2c2c; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.status:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.brochurebg {
	BACKGROUND-IMAGE: url(images/outerbg.gif); BACKGROUND-REPEAT: no-repeat
}
.cont {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #be2c2c; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.mc-printro {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #464646; LINE-HEIGHT: 12px; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.mc-printro:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.mc-prdate {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
.month {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #464646; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.month:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.monthactive {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.loclink {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.loclink {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.number {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #464646; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.number:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.numberactive {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.advancedsearch {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.advancedsearchtext {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.opacity IMG {
	FILTER: alpha(opacity=100); opacity: 1.0
}
.opacity:hover IMG {
	FILTER: alpha(opacity=60); opacity: 0.6
}
.opacity1 IMG {
	FILTER: alpha(opacity=100); opacity: 1.0
}
.opacity1:hover IMG {
	FILTER: alpha(opacity=90); opacity: 0.9
}
.h1 {
	FONT-WEIGHT: 400; FONT-SIZE: 30px; TEXT-TRANSFORM: lowercase; COLOR: #9a9a9a; PADDING-TOP: 5px; FONT-FAMILY: arial narrow; TEXT-DECORATION: none
}
.h2 {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.h3 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: 400; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; COLOR: #ffffff; PADDING-TOP: 7px; FONT-FAMILY: arial; BACKGROUND-COLOR: #195a87; TEXT-DECORATION: none
}
.h4 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.h5 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.h6 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.h7 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; COLOR: #195a87; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.h8 {
	FONT-WEIGHT: 400; FONT-SIZE: 30px; COLOR: #9a9a9a; PADDING-TOP: 5px; FONT-FAMILY: arial narrow; TEXT-DECORATION: none
}
.cellbor {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d8d8d8 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8d8d8 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d8d8 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#cellbor {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d8d8d8 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8d8d8 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d8d8 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.cellbor1 {
	BORDER-RIGHT: #d8d8d8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d8d8d8 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: 400; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8d8d8 1px solid; COLOR: #505050; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d8d8 1px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.floorplanbg {
	PADDING-LEFT: 1px; BACKGROUND-IMAGE: url(images/fp-bg.gif); PADDING-TOP: 1px; BACKGROUND-REPEAT: no-repeat
}
LI {
	FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 18px; FONT-FAMILY: tahoma
}
.TOPLI {
	FONT-SIZE: 11px; COLOR: #333; FONT-FAMILY: tahoma
}
#tablebor1 {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid; BORDER-BOTTOM: #e7e7e7 1px solid
}
.tablebor {
	BORDER-RIGHT: #b1b1b1 1px solid; BORDER-TOP: #b1b1b1 1px solid; BORDER-LEFT: #b1b1b1 1px solid; BORDER-BOTTOM: #b1b1b1 1px solid
}
.tablesq {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaa 1px solid
}
.cellbg {
	BACKGROUND-COLOR: #b1b1b1
}
.cellbg2 {
	BACKGROUND-COLOR: #ececec
}
.tab-bor1 {
	BORDER-RIGHT: #e7e7e7 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #e7e7e7 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #e7e7e7 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #e7e7e7 1px solid
}
.but {
	BORDER-RIGHT: #ececec 1px solid; BORDER-TOP: #ececec 1px solid; FONT-WEIGHT: 700; FONT-SIZE: 11px; BORDER-LEFT: #ececec 1px solid; COLOR: #555; BORDER-BOTTOM: #ececec 1px solid; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.but1 {
	BORDER-RIGHT: #195a87 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #195a87 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #195a87 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #195a87 1px solid; FONT-FAMILY: arial; HEIGHT: 18px; BACKGROUND-COLOR: #4486b4; TEXT-DECORATION: none
}
.but1:hover {
	BORDER-RIGHT: #195a87 1px solid; BORDER-TOP: #195a87 1px solid; FONT-WEIGHT: 700; FONT-SIZE: 11px; BORDER-LEFT: #195a87 1px solid; COLOR: #fff; BORDER-BOTTOM: #195a87 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #195a87; TEXT-DECORATION: none
}
.spe {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-WEIGHT: 700; FONT-SIZE: 10px; BORDER-LEFT: #000 1px solid; COLOR: #000; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
.ltext {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #696969; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.ltext1 {
	FONT-WEIGHT: 400; FONT-SIZE: 10px; COLOR: #9b0404; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
#mContainer {
	BORDER-RIGHT: #333 0px solid; BORDER-TOP: #333 0px solid; BORDER-LEFT: #333 0px solid; WIDTH: 723px; BORDER-BOTTOM: #333 0px solid; POSITION: relative; HEIGHT: 210px
}
.mPhoto {
	FILTER: Alpha(opacity=0); LEFT: 0px; POSITION: absolute; TOP: 0px; -moz-opacity: 0.0
}
#content .floatleft {
	PADDING-RIGHT: 15px; FLOAT: left; PADDING-BOTTOM: 10px
}
SELECT {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FONT-WEIGHT: 400; FONT-SIZE: 11px; BORDER-LEFT: #000 1px solid; COLOR: #333; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: tahoma
}
.mtext {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #505050; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.loclink {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.loclink:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 16px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.mail {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 18px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.mail:hover {
	FONT-WEIGHT: 400; FONT-SIZE: 11px; COLOR: #ff0000; LINE-HEIGHT: 18px; FONT-FAMILY: tahoma; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.but3 {
	BORDER-RIGHT: #195a87 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #195a87 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: 700; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #195a87 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #195a87 1px solid; FONT-FAMILY: arial; HEIGHT: 18px; BACKGROUND-COLOR: #4486b4; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.but3:hover {
	BORDER-RIGHT: #195a87 1px solid; BORDER-TOP: #195a87 1px solid; FONT-WEIGHT: 700; FONT-SIZE: 11px; BORDER-LEFT: #195a87 1px solid; COLOR: #fff; BORDER-BOTTOM: #195a87 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #195a87; TEXT-DECORATION: none
}
